body {
    background-color: blue;
    color: rgb(174, 255, 0)
    font-family: Arial, sans-serif;

}

header {
    background-color: blueviolet;
    color:blueviolet
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color :black
}

p {
    font-size: 18px;
    line-heigh: 1.6;
}
